#L{
    width: 80px;
    height: 80px;
    border-left: 78px solid;
    border-bottom: 78px solid;
    border-color: #9bbfc5;
}

#s{
    width: 100px;
    height: 30px;
}

.m{
    background-color: aquamarine;
}